@import url("https://fonts.googleapis.com/css2?family=Geologica&display=swap");
body {
  padding: 0;
  margin: 0;
  background: black;
  color: whitesmoke;
  font-family: "Geologica", sans-serif;
}
html,
body {
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

/* mobile */
@media (max-width: 800px) {
  nav:first-of-type {
    display: none;
  }
}

header {
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  padding: 0 10vw;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  z-index: 420;
  background: #0004;
  backdrop-filter: blur(1rem);
}
#about-p {
  line-height: 1.75rem;
  max-width: 60ch;
  font-family: sans-serif;
  font-size: 1.25rem;
  text-shadow: 0 0 0.5rem black;
  font-weight: 300;
  padding-left: 2rem;
  color: #ddd;
}
#about {
  padding-bottom: 2rem;
}
section {
  width: 80vw;
  margin: auto;
}
#about-title,
#projects-title {
  position: relative;
  font-size: 3rem;
}
#about-title::before {
  content: "about";
}
#projects-title::before {
  content: "projects";
}

#about-title::before,
#projects-title::before {
  position: absolute;
  left: 0;
  transform: translateX(-30%);
  top: -2rem;
  font-size: 4rem;
  color: #fff3;
}
#itchio,
#linkedin,
#github,
.pagelink,
#unity-fullscreen-button {
  transition: all 0.3s ease;
}
#name {
  max-width: fit-content;
  transition: all 0.5s ease;
}
#name:hover {
  color: #d6c4f9;
  letter-spacing: 0.25rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.pagelink {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 0.5rem;
}
.pagelink:hover {
  color: #ffb9a5;
  text-decoration-color: #ffb9a5;
  text-underline-offset: 0.25rem;
}
#itchio:hover {
  scale: 1.15;
  color: #fa5c5c;
}
#linkedin:hover {
  scale: 1.15;
  color: #0a66c2;
}
#github:hover {
  scale: 1.15;
  color: white;
}
main {
  position: relative;
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
canvas {
  border-radius: 2rem !important;
}
#unity-canvas {
  background: #231f20;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  margin-left: 6.5px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}
#unity-webgl-logo {
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-fullscreen-button {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 0.5rem;
  z-index: 69;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  background: #0008;
  cursor: pointer;
  backdrop-filter: blur(2rem);
}
#unity-fullscreen-button:hover {
  background: #000;
  color: #ffb9a5;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}

#img1,
#img2,
#img3,
#img4 {
  position: absolute;
  opacity: 0.3;
  z-index: -1;
  max-width: 30vw;
}

#img1 {
  top: 130vh;
  left: 0;
  transform: translateX(10%);
}

#img2 {
  top: 110vh;
  right: 0;
  transform: translateX(-10%);
}

#img3 {
  top: 170vh;
  left: 0;
  transform: translateX(10%);
}

#img4 {
  top: 150vh;
  right: 0;
  transform: translateX(-10%);
}
